@font-face{
    src: url(fonts/Quicksand-SemiBold.ttf);
    font-family: druk;
}

@font-face{
    src: url(fonts/Quicksand-Light.ttf);
    font-family: lightf;
}

body{
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.column2{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
h2{
    padding-top: 5vh;
    padding-bottom: 2vh;
    font-family: druk;
    font-size: 80px;
}

.chart_plot{
    /* background-color: blue; */
    height: 60%;
    border-radius: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.slider_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time_val{
    padding-top: 5vh;
}

.time_slider{
    display: flex;
    justify-self: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;

}

.picture_detail{
    background-color: blueviolet;
}